<%# locals: (label:, name:, options:, value:, blank_label:, placeholder:) %>
<div class="flex flex-col gap-1.5">
  <label class="text-sm font-medium text-gray-500 dark:text-gray-400">
    <%= label %>
  </label>

  <div class="select" data-action="change->filter#submit">
    <button
      type="button"
      class="btn-outline"
      aria-haspopup="listbox"
      aria-expanded="false"
    >
      <span>
        <%= options.find { |_, v| v.to_s == value.to_s }&.first || blank_label %>
      </span>

      <%= lucide_icon "chevron-down", class: "h-4 w-4 opacity-50" %>
    </button>

    <input type="hidden" name="<%= name %>" value="<%= value %>">

    <div data-popover aria-hidden="true">
      <header>
        <%= lucide_icon "search", class: "h-4 w-4 opacity-50" %>

        <input type="text" role="combobox" placeholder="<%= placeholder %>">
      </header>

      <div role="listbox">
        <div role="option" data-value=""><%= blank_label %></div>

        <% options.each do |option_label, option_value| %>
          <div role="option" data-value="<%= option_value %>">
            <%= option_label %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
